<form class="form-style clearfix" #productForm="ngForm" (submit)="onSave()" novalidate>

  <div class="form-group">
    <input type="text" class="text-field form-control" [(ngModel)]="product.name" placeholder="Opis" name="name" required [disabled]="mode=='PAY'">
  </div>
  <div class="form-group" *ngIf="mode=='NEW' || mode=='PAY'">
    <input type="number" class="text-field form-control" step="1" min="1" name="amount" [(ngModel)]="product.price"
           placeholder="Iznos" required>
  </div>
  <div class="form-group">
    <img src="assets/images/theme_images/loader-form.GIF" *ngIf="saveInProgress">
    <button type="submit" class="btn btn-sm btn-outline-inverse" *ngIf="!saveInProgress" [disabled]="productForm.invalid"
            [ngClass]="{'error':error}">
      Spremi
    </button>
    <a class="btn btn-sm btn-outline-inverse" *ngIf="!saveInProgress" [routerLink]="['/products']">
      Natrag
    </a>
  </div>
</form>
