<div>
  <a type="button" class="btn btn-outline-inverse btn-lg pull-right mb10" (click)="onExport()">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  </a>
  <app-year-pagination (yearChanged)="onYearChanged($event)" [currentYear]="currentYear" [minYear]="2014"></app-year-pagination>
  <img src="assets/images/theme_images/loader-form.GIF" *ngIf="loading1"/>

  <div id="statisticsV2MembersContainer" class="clearfix">
    <h4>Statistika članova</h4>
    <div *ngIf="!loading4 && statisticsV2.memberEventStatistics.length==0">
      Nema podataka
    </div>
    <div *ngIf="!loading4 && statisticsV2.memberEventStatistics.length>0">
      <app-table [headers]="memberHeaders" [data]="memberData"></app-table>
    </div>
  </div>

  <div id="statisticsV2MembersContainer" class="clearfix">
    <h4>Statistika treninga</h4>
    <div *ngIf="!loading4 && trainingData.length==0">
      Nema podataka
    </div>
    <div *ngIf="!loading4 && trainingData.length>0">
      <app-table [headers]="eventHeaders" [data]="trainingData"></app-table>
    </div>
  </div>

  <div id="statisticsV2MembersContainer" class="clearfix">
    <h4>Statistika susreta</h4>
    <div *ngIf="!loading4 && eventData.length==0">
      Nema podataka
    </div>
    <div *ngIf="!loading4 && eventData.length>0">
      <app-table [headers]="eventHeaders" [data]="eventData"></app-table>
    </div>
  </div>

  <div id="statisticsV2MembersContainer" class="clearfix">
    <h4>Statistika ostalo</h4>
    <div *ngIf="!loading4 && otherData.length==0">
      Nema podataka
    </div>
    <div *ngIf="!loading4 && otherData.length>0">
      <app-table [headers]="eventHeaders" [data]="otherData"></app-table>
    </div>
  </div>

  <div id="monthlyTrainingContainer" class="clearfix">
    <h4>Po mjesecima</h4>
    <div *ngIf="!loading1 && monthlyTrainingStatistics.length==0">
      Nema podataka
    </div>
    <div *ngIf="!loading1 && monthlyTrainingStatistics.length>0">
      <app-monthly-statistics [monthlyStatistics]="monthlyTrainingStatistics"></app-monthly-statistics>
    </div>
  </div>
</div>
