<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 mb10">
  <div class="btn btn-lg btn-outline-inverse training-statistic" [ngClass]="state==1 && statistics.members.length>2?'opened':''">
    <div class="date" *ngIf="state==0" (click)="state=1">
      <div class="event-date"> {{statistics.date}} <span class="location">{{statistics.location}}</span> </div>
      <div class="member-count"> {{statistics.members.length}}</div>
    </div>
    <div class="members" *ngIf="state==1" (click)="state=0">
      <span *ngFor="let member of statistics.members">{{member}} </span>
    </div>
  </div>
</div>
